input_params.dat
*.pkl
.DS_Store
.gitignore.swp
.ipynb_checkpoints/
*.aux
*.log
*.pdf
*.gz
tmp*
__pycache__/
base0.dat
poincare_map_*.dat
output/IncidenceHamiltsym72
output/IncidenceHamiltsym72v2
output/VesselHamilt_r70
